.container {
    margin-top: 6px;
}

.container:first-child {
    margin-top: 12px;
}

.containerItem {
    text-decoration: none;
}

button.containerItem {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background-color: #111111;
    border-radius: 0;
    transition: 500ms ease-in-out all;
}

.whiteItem {
    background-color: white!important;
}

.containerItem.active .item {
    background: rgba(26, 115, 232, 0.14)!important;
    color: #1A73E8!important;
}

.containerItem.active .item p {
    color: #1A73E8!important;
}

.item {
    width: 242px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    padding: 10px 0 10px 14px;
    transition: 100ms ease-in-out all;
    border-radius: 8px;
}

.item.white:hover {
    background: rgba(0, 0, 0, 0.06)!important;
}

.item:hover {
    background: rgba(255, 255, 255, 0.08);
}

.item svg {
    width: 26px;
    transition: 100ms ease-in-out all;
    height: 26px;
}

.item p {
    margin-left: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    transition: 100ms ease-in-out all;
    font-size: 18px;
    line-height: 21px;
}