.static {
    border-radius: 8px;
    max-width: 256px;
    margin-top: 18px;
    display: flex;
    align-items: center;
    transition: 500ms ease-out;
    padding: 18px;
}

.daysInRow p {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    transition: 500ms ease-out;
}