* {
    margin: 0;
    padding: 0;
}

.main-container {
    height: 100vh;
    transition: 500ms ease-out;
    background-color: white;
    overflow: hidden;
}

.main {
    display: flex;
    justify-content: center;
}

.main-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 246px;
}

.loader {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    transition: 500ms ease-in;
    transition-delay: 500ms;
}

.loader.ready {
    background: transparent!important;
    pointer-events: none;
}

.loader img {
    width: 58px;
    transition-delay: 500ms;
}

.loader.ready img {
    opacity: 0;
}

@media (max-width: 1780px) {
    .main-row {
        padding: 0 150px;
    }
}

@media (max-width: 1600px) {
    .main-row {
        padding: 0 50px;
    }
}